html, body { margin:0; padding:0 }
body { color: #171717; font-family: Verdana; }
strong { color: #171717; }
label, input { width: 170px; }
textarea { width: 270px; }
button { margin-top: 10px; }
div.container {
    margin: 0 auto;
    padding: 0;
}
div.header {
    margin: 0 auto;
     padding: 0;
    text-shadow: 1px 1px 0 #afff;
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 7px 7px;
    border-bottom-right-radius: 7px 7px;
    background: url("/images/PianClaveSol.jpg") 40%;
    background-repeat: no-repeat;
    /*background-position: bottom;
    background-position: center;*/
    width: 100%;
    height: 150px;
}
div#me {
    text-shadow: 1px 1px 0 #000000;
}
div#menu { width: 100%; margin-top:7px; text-align: center; }
div#menu ul { width: 100%; line-height: 30px; list-style: none; margin: 0; padding: 0; }
div#menu li a { color: #EEE; text-decoration: none; padding: 17px 7px; cursor: pointer; _cursor: hand; }
div#menu li {
    background: #000000;
    display: inline;
    border-bottom-left-radius: 7px 7px;
    border-bottom-right-radius: 7px 7px;
    width: 170px;
    padding: 1em;
}
div#menu li a:hover, a.over { color: #FFF; border-top: 1px solid #171717; }
.visible-xs-block {
    width: 99% !important;
    margin-bottom: 2px;
    margin-left: 2px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 7px;
} /* Melhorar! */
div#companies { box-shadow: #171717 0.1em 0.1em 0.1em; border-radius: 3px; min-height: 300px; margin-top: 30px; margin-left: 15px; padding: 10px 15px 20px }
div#content { box-shadow: #171717 0.1em 0.1em 0.1em;  border-radius: 3px; min-height: 440px; margin-top: 30px; margin-left: 15px; padding: 10px 15px 20px }
div.title { margin-bottom: 20px; text-shadow: 0 1px 0 #171717; }
div.project { text-align: center }
div.project a { color: #735D96; font-weight: bold; text-decoration: none; }
div.project a:hover, a:active, a:visited { color: #7774B9 }
div.footer {
    clear:both; width:100%;
    background: background-color: #777;
    background-image: linear-gradient(
        45deg,
	rgba(255, 255, 255, 0.2) 25%, 
	rgba(0, 0, 0, 0) 25%, 
	rgba(0, 0, 0, 0) 50%, 
	rgba(255, 255, 255, 0.2) 50%, 
	rgba(255, 255, 255, 0.2) 75%, 
	rgba(0, 0, 0, 0) 75%, 
	rgba(0, 0, 0, 0)
    );
    background-size: 20px 20px;
    /*background: -moz-linear-gradient(center top , #EEEEEE 0%, #e0e0e0 50%, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}
div.footer:after {
    opacity: 0.75;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
}
div.contact {
    text-align: center;
    margin: 15px 20px;
    padding-top: 15px;
}
